version: "3.8"

services:
  payload:
    image: node:18
    expose:
      - "3000"
    command: sh -c "echo 'ok'"
    networks:
      - default

  mongo:
    image: mongo:latest
    expose:
      - "27017"
    networks:
      - default

networks:
  default:
    driver: bridge