services:
  payload:
    image: node:18-alpine
    volumes:
      - .:/home/node/app
      - node_modules:/home/node/app/node_modules
    working_dir: /home/node/app/
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - mongo
    env_file:
      - .env
    restart: always
    ports:
      - 3000
    networks:
      - dokploy-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.setsetset-payload.rule=Host(`payload.setsetset.net`)"
      - "traefik.http.routers.setsetset-payload.entrypoints=websecure"
      - "traefik.http.routers.setsetset-payload.tls.certResolver=letsencrypt"
      - "traefik.http.services.setsetset-payload.loadbalancer.server.port=3000"

  mongo:
    image: mongo:latest
    hostname: setsetset-mongo
    ports:
      - 27017
    command:
      - --storageEngine=wiredTiger
    volumes:
      - data:/data/db
    logging:
      driver: ${MONGO_LOG_DRIVER:-none}
    networks:
      - dokploy-network

volumes:
  data:
  node_modules:

networks:
  dokploy-network:
    external: true