services:
  payload:
    image: node:18-alpine
    ports:
      - '${HOST_PORT:-3000}:3000'
    volumes:
      - .:/home/node/app
      - node_modules:/home/node/app/node_modules
    working_dir: /home/node/app/
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - mongo
    env_file:
      - .env

  mongo:
    image: mongo:latest
    hostname: setsetset-mongo
    ports:
      - '${MONGO_PORT:-27017}:27017'
    command:
      - --storageEngine=wiredTiger
    volumes:
      - data:/data/db
    logging:
      driver: ${MONGO_LOG_DRIVER:-none}

volumes:
  data:
  node_modules: